In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/files/sales.csv')
#second param
# skiprows = 5 not read the fifth first rows
# nrows = 10 just read first 10  rows
# skip_blank_rows = True
# error_bad_lines = True
# warn_bad_lines = True

In [4]:
#first 5 rows
a = df.head()
print(a)

     Product     Company   Category  Units Sold  Revenue  Cost of Goods Sold  \
0     Coffee   Coca-Cola     Coffee         151     2141                4956
1     Coffee   Coca-Cola     Coffee         624     1620                1156
2       Wine   Coca-Cola  Alcoholic         853     9978                1030
3  Green Tea  Dr. Pepper        Tea         962     5974                5279
4      Vodka  Dr. Pepper  Alcoholic         719     3928                2828

   Profit Purchase Date    Customer Name Customer State      Customer City  \
0   -2815    2020-07-04    Angela Wilson     California  East Danielleview
1     464    2021-04-09  Zachary Wheeler      Wisconsin  New Kimberlyshire
2    8948    2022-03-10    Jeremy Arroyo  Massachusetts        Vickieshire
3     695    2023-05-10   Andrew Fleming        Arizona         Albertberg
4    1100    2020-11-19   Caroline Smith        Indiana        Johnsonstad

   Customer Zip Code       Order ID
0              35273  1-143-51064-X
1              55509  1-163-25655-2
2              93236  0-345-30366-0
3              34895  1-4844-8219-0
4              90201  1-85816-387-0

In [6]:
#first n rows
a = df.head(2)
print(a)

  Product    Company Category  Units Sold  Revenue  Cost of Goods Sold  \
0  Coffee  Coca-Cola   Coffee         151     2141                4956
1  Coffee  Coca-Cola   Coffee         624     1620                1156

   Profit Purchase Date    Customer Name Customer State      Customer City  \
0   -2815    2020-07-04    Angela Wilson     California  East Danielleview
1     464    2021-04-09  Zachary Wheeler      Wisconsin  New Kimberlyshire

   Customer Zip Code       Order ID
0              35273  1-143-51064-X
1              55509  1-163-25655-2

In [7]:
# last 5 rows
a = df .tail()
print(a)

           Product     Company    Category  Units Sold  Revenue  \
9995          Wine  Dr. Pepper   Alcoholic         337     6676
9996     Green Tea   Coca-Cola         Tea         745     1096
9997  Energy Drink       Pepsi  Soft Drink         728     4703
9998          Cola   Coca-Cola  Soft Drink         142     3655
9999      Lemonade   Coca-Cola  Soft Drink         703     7202

      Cost of Goods Sold  Profit Purchase Date      Customer Name  \
9995                1932    4744    2020-02-15        Kyle Morris
9996                1603    -507    2023-02-02  Jacqueline Mendez
9997                5135    -432    2020-01-14    Taylor Robinson
9998                6436   -2781    2022-10-28    Sierra Morrison
9999                5593    1609    2021-10-09      Joanna Mendez

     Customer State      Customer City  Customer Zip Code       Order ID
9995     New Mexico        Heatherbury              80789  0-7733-9949-6
9996      Tennessee      South Charles              42497  0-13-801494-9
9997       Virginia  West Susanchester              13202  1-893420-14-0
9998        Montana          Perezfort              66758  1-5413-2685-7
9999           Utah           Leonbury              64499  0-03-548200-1

In [8]:
# last n rows
a = df .tail(1)
print(a)

       Product    Company    Category  Units Sold  Revenue  \
9999  Lemonade  Coca-Cola  Soft Drink         703     7202

      Cost of Goods Sold  Profit Purchase Date  Customer Name Customer State  \
9999                5593    1609    2021-10-09  Joanna Mendez           Utah

     Customer City  Customer Zip Code       Order ID
9999      Leonbury              64499  0-03-548200-1

In [ ]:
# numpy -> ndarray
# pandas -> series(one column), dataframe (more than one column)

In [10]:
product = df["Product"]
print(product)

0             Coffee
1             Coffee
2               Wine
3          Green Tea
4              Vodka
            ...
9995            Wine
9996       Green Tea
9997    Energy Drink
9998            Cola
9999        Lemonade
Name: Product, Length: 10000, dtype: object

In [11]:
product = df.Product
print(product)

0             Coffee
1             Coffee
2               Wine
3          Green Tea
4              Vodka
            ...
9995            Wine
9996       Green Tea
9997    Energy Drink
9998            Cola
9999        Lemonade
Name: Product, Length: 10000, dtype: object

In [14]:
a = type(df)
print(a)

<class 'pandas.core.frame.DataFrame'>

In [15]:
a = df.describe()
print(a)

         Units Sold       Revenue  Cost of Goods Sold        Profit  \
count  10000.000000  10000.000000        10000.000000  10000.000000
mean     547.162400   5507.824100         4244.766500   1263.057600
std      260.392451   2591.286638         2158.872391   3344.636747
min      100.000000   1000.000000          500.000000  -6961.000000
25%      323.000000   3283.250000         2380.500000  -1177.250000
50%      541.000000   5517.000000         4268.000000   1243.500000
75%      772.250000   7757.500000         6095.000000   3659.000000
max     1000.000000   9999.000000         8000.000000   9461.000000

       Customer Zip Code
count       10000.000000
mean        50240.881500
std         30165.679293
min          1008.000000
25%         24303.250000
50%         50993.000000
75%         77537.750000
max         99950.000000

In [16]:
a = df.describe().T
print(a)

                      count        mean           std     min       25%  \
Units Sold          10000.0    547.1624    260.392451   100.0    323.00
Revenue             10000.0   5507.8241   2591.286638  1000.0   3283.25
Cost of Goods Sold  10000.0   4244.7665   2158.872391   500.0   2380.50
Profit              10000.0   1263.0576   3344.636747 -6961.0  -1177.25
Customer Zip Code   10000.0  50240.8815  30165.679293  1008.0  24303.25

                        50%       75%      max
Units Sold            541.0    772.25   1000.0
Revenue              5517.0   7757.50   9999.0
Cost of Goods Sold   4268.0   6095.00   8000.0
Profit               1243.5   3659.00   9461.0
Customer Zip Code   50993.0  77537.75  99950.0

In [17]:
a = df.info
print(a)

<bound method DataFrame.info of            Product     Company    Category  Units Sold  Revenue  \
0           Coffee   Coca-Cola      Coffee         151     2141
1           Coffee   Coca-Cola      Coffee         624     1620
2             Wine   Coca-Cola   Alcoholic         853     9978
3        Green Tea  Dr. Pepper         Tea         962     5974
4            Vodka  Dr. Pepper   Alcoholic         719     3928
...            ...         ...         ...         ...      ...
9995          Wine  Dr. Pepper   Alcoholic         337     6676
9996     Green Tea   Coca-Cola         Tea         745     1096
9997  Energy Drink       Pepsi  Soft Drink         728     4703
9998          Cola   Coca-Cola  Soft Drink         142     3655
9999      Lemonade   Coca-Cola  Soft Drink         703     7202

      Cost of Goods Sold  Profit Purchase Date      Customer Name  \
0                   4956   -2815    2020-07-04      Angela Wilson
1                   1156     464    2021-04-09    Zachary Wheeler
2                   1030    8948    2022-03-10      Jeremy Arroyo
3                   5279     695    2023-05-10     Andrew Fleming
4                   2828    1100    2020-11-19     Caroline Smith
...                  ...     ...           ...                ...
9995                1932    4744    2020-02-15        Kyle Morris
9996                1603    -507    2023-02-02  Jacqueline Mendez
9997                5135    -432    2020-01-14    Taylor Robinson
9998                6436   -2781    2022-10-28    Sierra Morrison
9999                5593    1609    2021-10-09      Joanna Mendez

     Customer State      Customer City  Customer Zip Code       Order ID
0        California  East Danielleview              35273  1-143-51064-X
1         Wisconsin  New Kimberlyshire              55509  1-163-25655-2
2     Massachusetts        Vickieshire              93236  0-345-30366-0
3           Arizona         Albertberg              34895  1-4844-8219-0
4           Indiana        Johnsonstad              90201  1-85816-387-0
...             ...                ...                ...            ...
9995     New Mexico        Heatherbury              80789  0-7733-9949-6
9996      Tennessee      South Charles              42497  0-13-801494-9
9997       Virginia  West Susanchester              13202  1-893420-14-0
9998        Montana          Perezfort              66758  1-5413-2685-7
9999           Utah           Leonbury              64499  0-03-548200-1

[10000 rows x 13 columns]>

In [18]:
a = df.columns
print(a)

Index(['Product', 'Company', 'Category', 'Units Sold', 'Revenue',
       'Cost of Goods Sold', 'Profit', 'Purchase Date', 'Customer Name',
       'Customer State', 'Customer City', 'Customer Zip Code', 'Order ID'],
      dtype='object')

In [21]:
a = df.Product.value_counts()
print(a)

Product
Herbal Tea      1043
Wine            1036
Green Tea       1016
Coffee          1014
Beer            1009
Vodka           1000
Cola             992
Lemonade         989
Energy Drink     966
Black Tea        935
Name: count, dtype: int64

In [22]:
a = df.nunique()
print(a)

Product                  10
Company                   3
Category                  4
Units Sold              901
Revenue                6042
Cost of Goods Sold     5495
Profit                 6956
Purchase Date          1306
Customer Name          9335
Customer State           50
Customer City          7769
Customer Zip Code      8789
Order ID              10000
dtype: int64

In [23]:
a = df.Product.unique()
print(a)

['Coffee' 'Wine' 'Green Tea' 'Vodka' 'Lemonade' 'Cola' 'Energy Drink'
 'Herbal Tea' 'Beer' 'Black Tea']

In [24]:
a = len(df.Product.unique())
print(a)

10

In [25]:
a = list(df.columns)
print(a)

['Product', 'Company', 'Category', 'Units Sold', 'Revenue', 'Cost of Goods Sold', 'Profit', 'Purchase Date', 'Customer Name', 'Customer State', 'Customer City', 'Customer Zip Code', 'Order ID']

In [26]:
a = df.Company.values
print(a)

['Coca-Cola' 'Coca-Cola' 'Coca-Cola' ... 'Pepsi' 'Coca-Cola' 'Coca-Cola']

In [28]:
a = df[["Product","Company"]]
print(a)

           Product     Company
0           Coffee   Coca-Cola
1           Coffee   Coca-Cola
2             Wine   Coca-Cola
3        Green Tea  Dr. Pepper
4            Vodka  Dr. Pepper
...            ...         ...
9995          Wine  Dr. Pepper
9996     Green Tea   Coca-Cola
9997  Energy Drink       Pepsi
9998          Cola   Coca-Cola
9999      Lemonade   Coca-Cola

[10000 rows x 2 columns]

In [29]:
# return True or False
print(df.Company == "Pepsi")

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997     True
9998    False
9999    False
Name: Company, Length: 10000, dtype: bool

In [30]:
# return dataframe
print(df[df.Company == "Pepsi"])

           Product Company    Category  Units Sold  Revenue  \
6           Coffee   Pepsi      Coffee         101     1398
14            Cola   Pepsi  Soft Drink         526     3082
20            Wine   Pepsi   Alcoholic         351     3724
24      Herbal Tea   Pepsi         Tea         234     6508
28            Beer   Pepsi   Alcoholic         871     2724
...            ...     ...         ...         ...      ...
9985    Herbal Tea   Pepsi         Tea         131     5460
9987         Vodka   Pepsi   Alcoholic         566     1310
9991         Vodka   Pepsi   Alcoholic         669     5032
9992         Vodka   Pepsi   Alcoholic         459     8283
9997  Energy Drink   Pepsi  Soft Drink         728     4703

      Cost of Goods Sold  Profit Purchase Date       Customer Name  \
6                    955     443    2021-02-25      Monica Mercado
14                  7115   -4033    2020-07-29         Jose Murphy
20                  2359    1365    2022-11-24  Christopher Miller
24                  6474      34    2021-03-28        Sophia Woods
28                  1045    1679    2023-02-19     Jennifer Vaughn
...                  ...     ...           ...                 ...
9985                4520     940    2022-02-25     Jennifer Torres
9987                7041   -5731    2020-10-12    Michael Robinson
9991                4440     592    2022-11-04       Felicia Evans
9992                2180    6103    2022-10-09        Stephen York
9997                5135    -432    2020-01-14     Taylor Robinson

      Customer State      Customer City  Customer Zip Code       Order ID
6     North Carolina      Whitakershire              12974  1-4807-1762-2
14          Maryland      South Amyview              84534  1-230-47174-X
20          Missouri      Sheilachester              67752  1-4940-8694-8
24          Missouri        Michaelfurt              68009  1-966180-26-8
28        Washington        Tranchester              68104  1-69698-646-X
...              ...                ...                ...            ...
9985        Arkansas      South Melanie              88135  0-7731-4278-9
9987           Idaho   Port Melanieside              31779  0-946984-33-6
9991           Maine       Lake Kenneth              68079  0-656-44989-6
9992  North Carolina          Shaneside              40635  1-09-972805-3
9997        Virginia  West Susanchester              13202  1-893420-14-0

[3317 rows x 13 columns]

In [31]:
print(df.loc[df.Product == "Cola"])

     Product     Company    Category  Units Sold  Revenue  Cost of Goods Sold  \
7       Cola  Dr. Pepper  Soft Drink         472     6069                4533
8       Cola   Coca-Cola  Soft Drink         562     9883                7180
14      Cola       Pepsi  Soft Drink         526     3082                7115
15      Cola  Dr. Pepper  Soft Drink         671     5743                4554
33      Cola       Pepsi  Soft Drink         146     5483                5354
...      ...         ...         ...         ...      ...                 ...
9922    Cola       Pepsi  Soft Drink         669     9341                2669
9949    Cola   Coca-Cola  Soft Drink         438     6373                2579
9968    Cola   Coca-Cola  Soft Drink         841     1814                2319
9978    Cola   Coca-Cola  Soft Drink         650     8371                5202
9998    Cola   Coca-Cola  Soft Drink         142     3655                6436

      Profit Purchase Date       Customer Name Customer State  \
7       1536    2020-12-17  Katherine Robinson         Oregon
8       2703    2021-12-21       James Salazar           Iowa
14     -4033    2020-07-29         Jose Murphy       Maryland
15      1189    2022-11-17         Hunter Hall         Nevada
33       129    2023-02-13       Angela Molina       Colorado
...      ...           ...                 ...            ...
9922    6672    2022-09-15         Terry Berry           Utah
9949    3794    2021-03-10   Jennifer Thompson       Colorado
9968    -505    2020-05-25        Jessica Cruz          Maine
9978    3169    2022-06-02        Cody Benitez        Alabama
9998   -2781    2022-10-28     Sierra Morrison        Montana

         Customer City  Customer Zip Code       Order ID
7           New Teresa              52603  1-86050-751-4
8       New Jessicaton              19798  1-55729-850-5
14       South Amyview              84534  1-230-47174-X
15      North Nicholas               5244  0-320-91549-2
33          Jensenstad              83573  0-243-91336-2
...                ...                ...            ...
9922   North Sarahstad              28161  0-201-90943-X
9949     New Kellyberg              96817  1-219-52804-8
9968         Clarkstad              98118  1-5017-6536-1
9978  East Andrewmouth              34095  0-7700-1563-8
9998         Perezfort              66758  1-5413-2685-7

[992 rows x 13 columns]

In [32]:
print((df.loc[df.Product == "Cola"]["Company"]).unique())

['Dr. Pepper' 'Coca-Cola' 'Pepsi']

In [36]:
print(df.loc[df.Product == "Cola"][["Company","Category"]])

         Company    Category
7     Dr. Pepper  Soft Drink
8      Coca-Cola  Soft Drink
14         Pepsi  Soft Drink
15    Dr. Pepper  Soft Drink
33         Pepsi  Soft Drink
...          ...         ...
9922       Pepsi  Soft Drink
9949   Coca-Cola  Soft Drink
9968   Coca-Cola  Soft Drink
9978   Coca-Cola  Soft Drink
9998   Coca-Cola  Soft Drink

[992 rows x 2 columns]

In [41]:
print(df["Units Sold"].max())

1000

In [44]:
print(df[df["Units Sold"] == df["Units Sold"].max()][["Product","Units Sold"]])

         Product  Units Sold
41     Black Tea        1000
1128   Green Tea        1000
2187      Coffee        1000
2508   Black Tea        1000
3588       Vodka        1000
4611      Coffee        1000
5080       Vodka        1000
5524        Beer        1000
6214   Black Tea        1000
6843        Beer        1000
7477       Vodka        1000
7608        Wine        1000
8515  Herbal Tea        1000
8599        Cola        1000
9318        Beer        1000

In [45]:
a = df.sample(5)
print(a)

        Product     Company    Category  Units Sold  Revenue  \
9577  Green Tea   Coca-Cola         Tea         927     3374
6014  Black Tea       Pepsi         Tea         220     5216
3725   Lemonade       Pepsi  Soft Drink         173     7255
3216       Wine   Coca-Cola   Alcoholic         543     9130
8151       Wine  Dr. Pepper   Alcoholic         180     6794

      Cost of Goods Sold  Profit Purchase Date     Customer Name  \
9577                3284      90    2021-07-17   Denise Mcintyre
6014                5242     -26    2022-07-20  Justin Rodriguez
3725                7291     -36    2022-03-09      Hannah Myers
3216                4855    4275    2022-12-19       Brian White
8151                2780    4014    2021-06-20        Frank Mann

     Customer State    Customer City  Customer Zip Code       Order ID
9577           Ohio        Erinshire              49617  0-427-77081-5
6014       Kentucky     Fergusonland              24394  1-85319-387-9
3725       Nebraska  South Lindatown              56068  0-231-29779-3
3216       Missouri       Port Laura              72651  0-420-35182-5
8151           Iowa   West Josehaven              59261  0-9720058-9-7

In [47]:
# 50% from df
a = df.sample(frac = 0.5)
print(a)

        Product     Company    Category  Units Sold  Revenue  \
6158       Wine   Coca-Cola   Alcoholic         258     4492
9329       Wine       Pepsi   Alcoholic         617     4967
6871       Wine  Dr. Pepper   Alcoholic         314     8020
8780       Beer       Pepsi   Alcoholic         611     6270
3042  Green Tea   Coca-Cola         Tea         467     8894
...         ...         ...         ...         ...      ...
725        Cola       Pepsi  Soft Drink         669     3792
7531  Green Tea   Coca-Cola         Tea         796     9884
4250       Cola  Dr. Pepper  Soft Drink         462     9243
4766       Cola   Coca-Cola  Soft Drink         829     1722
6967       Beer   Coca-Cola   Alcoholic         105     6518

      Cost of Goods Sold  Profit Purchase Date       Customer Name  \
6158                1415    3077    2022-10-23    Charles Hamilton
9329                1265    3702    2020-11-22      Matthew Rangel
6871                1333    6687    2021-12-17         Brian Lewis
8780                6703    -433    2022-04-03  Mrs. Amanda Fuller
3042                1256    7638    2023-01-28        Julie Henson
...                  ...     ...           ...                 ...
725                 3404     388    2020-12-07    Melissa Phillips
7531                1522    8362    2021-10-06    Charles Peterson
4250                3012    6231    2021-08-25        Frances Ross
4766                7928   -6206    2022-06-12        Stephen Hill
6967                7433    -915    2020-03-26    Jacqueline Evans

     Customer State     Customer City  Customer Zip Code       Order ID
6158       Kentucky     Lake Johntown              55785  1-4528-6559-0
9329       Missouri         East John              28483  0-902106-57-0
6871       Missouri  East Melissaview              95585  0-8096-7169-7
8780      Minnesota       Michaelview              19466  1-370-72406-3
3042    Connecticut        New Ashley              84027  1-70969-524-2
...             ...               ...                ...            ...
725      New Mexico        Riverafurt              83705  0-474-69966-8
7531     New Jersey    Port Brianside              83434  0-488-95002-3
4250         Hawaii         Lewisberg              89068  1-925394-27-1
4766       Nebraska        South Tina              71199  0-298-31902-0
6967   Pennsylvania           Annstad               3164  0-659-26448-X

[5000 rows x 13 columns]

In [48]:
# Include all the databases, but in a different order than before.
a = df.sample(frac = 0.5)
print(a)

        Product     Company    Category  Units Sold  Revenue  \
9586      Vodka   Coca-Cola   Alcoholic         469     4462
5291       Wine       Pepsi   Alcoholic         278     9570
3417       Wine   Coca-Cola   Alcoholic         589     8562
2258   Lemonade  Dr. Pepper  Soft Drink         163     3258
3675  Green Tea       Pepsi         Tea         887     1219
...         ...         ...         ...         ...      ...
5117       Wine  Dr. Pepper   Alcoholic         128     5110
1711   Lemonade  Dr. Pepper  Soft Drink         708     1855
960       Vodka  Dr. Pepper   Alcoholic         667     1343
1447       Wine       Pepsi   Alcoholic         504     9689
9585       Cola  Dr. Pepper  Soft Drink         298     5625

      Cost of Goods Sold  Profit Purchase Date   Customer Name  \
9586                3784     678    2022-07-13   Joseph Coffey
5291                 829    8741    2020-05-15   Haley Padilla
3417                2624    5938    2023-05-19   Joshua Larson
2258                2647     611    2023-03-10  Lisa Wilkinson
3675                6897   -5678    2021-09-04    Lauren Kelly
...                  ...     ...           ...             ...
5117                3236    1874    2021-03-14  Taylor Higgins
1711                4219   -2364    2022-10-07   Carolyn Nunez
960                 7401   -6058    2021-11-29     Justin Bass
1447                2126    7563    2021-07-29       Gary Kemp
9585                3548    2077    2021-05-12     Drew Wilson

      Customer State        Customer City  Customer Zip Code       Order ID
9586        Maryland            Lake Tina               8367  0-7803-7372-3
5291         Alabama        East Marybury              47884  0-399-42645-0
3417        Virginia         Stantonshire              16240  0-352-13065-2
2258    Pennsylvania        Delacruzville              53005  1-4989-4011-0
3675       Minnesota  South Jennifermouth              99593  0-88727-457-9
...              ...                  ...                ...            ...
5117           Texas          Danielville              25169  1-70782-820-2
1711   New Hampshire           Amychester               6383  0-9823523-5-2
960        Wisconsin        Pattersonbury              80276  1-4964-0233-2
1447            Ohio            Ballmouth               3668  1-69623-559-6
9585  North Carolina          West Jerome              75678  0-05-442073-3

[5000 rows x 13 columns]

In [49]:
a = df.Product.value_counts()[:4]
print(a)

Product
Herbal Tea    1043
Wine          1036
Green Tea     1016
Coffee        1014
Name: count, dtype: int64

In [51]:
a = df[df["Units Sold"] >= 100]["Product"]
print(a)

0             Coffee
1             Coffee
2               Wine
3          Green Tea
4              Vodka
            ...
9995            Wine
9996       Green Tea
9997    Energy Drink
9998            Cola
9999        Lemonade
Name: Product, Length: 10000, dtype: object

In [52]:
a = df[df["Units Sold"] >= 100].count()
print(a)

Product               10000
Company               10000
Category              10000
Units Sold            10000
Revenue               10000
Cost of Goods Sold    10000
Profit                10000
Purchase Date         10000
Customer Name         10000
Customer State        10000
Customer City         10000
Customer Zip Code     10000
Order ID              10000
dtype: int64

In [56]:
a = df[df["Units Sold"] >= 1].Revenue.mean()
print(a)

5507.8241

In [71]:
a = df[df["Revenue"] == df["Revenue"].max()]["Units Sold"].value_counts().max()
print(a)

1